nav {
    display :flex;
    justify-content: space-between;
    width: 90vw;
    position: fixed;
    top:16px;
    background-color: #01959a;
    left: 50%;
    /* رجعلي ياخ 50 قد نص عرضو لورا  */
    transform: translateX(-50%);
    z-index: 9;
    padding: 0 30px;
    height: 80px;
    border-radius: 15px;
    align-items: center;
}
nav .items{
    display:flex;
    gap: 25px;
    align-items: center;
}
nav .items ul {
display: flex;
gap: 25px;
list-style: none;
align-items: center;



}
nav .items ul li{
    color:#222;
    font-weight: 600;
    font-size: 1.2rem;
    padding: .7rem 1rem;
    white-space:nowrap;
    transition: all .5 ease-in-out;
    cursor: pointer;

}
nav .items ul li:hover{
    background-color: #01959a;
    color: #fff;
    border-radius: 4px;
}
.nav .items ul li i{
    background-color: black;
}
nav .items button ,.nav-menu button {
    background-color: black;
color: #ffffff;
    border-radius: .3rem;
    border: none;
    cursor: pointer;
    padding: .5rem 1rem;
    font-size: 1rem;
font-weight: 600;
transition: all .2s ease-in-out;
white-space: nowrap;
}
nav .items button:hover {
    background-color: black;
    color: #fff;
}
nav .menu-btn {
    padding: .5rem 1rem;
    border: none;
    border-radius: 5px;
    display: none
;
}
 .nav-menu {
    position: fixed;
    top:86px;
    padding-top: 10px;
    left: 50%;
    width: 90vw;
    /* لخليا تطلع لبرا وبس اكبس عليا تظخر من برا تفوت */
    transform: translateX(-157%);
    background-color: #01959a;
    z-index: 999;
    text-align: center;
    transition: 1s all;
}
.nav-menu.active{
    transform: translate(-50%);
}

.nav-menu ul{
    list-style: none;
    width: max-content;
    margin: 0 auto;
}
 .nav-menu li{
    width: max-content;
    margin: 30px 0;
   ;
 }
 

@media screen  and (max-width:992px)
{
    nav .items{
        display: none;
    }
    nav .menu-btn{
        display: block;
    }
}